*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 90%;
    margin: 0 auto;
}
.nav-container{
    display: flex;
    width: 50%;
    align-items: center;
}
.nav-title{
    margin-left: 20px;
}
.agency{
    color: #ff5400;
}
.navigation-bar{
    height: 70px;
   display: flex;
    justify-content: space-between;
   
}
.home-page{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.home-page a{
    text-decoration: none;
    color: #424247;
}
/* navigation bar complete////////////// */
.main-first{
    width: 90%;
    margin: 10px auto;
    height: 500px;
    background-image: url(Group\ 13\ \(1\)\ \(1\).png);
    display: flex;
    justify-content: center;
    align-items: center;
}
.input-field{
  
text-align: center;
color: white;


}
.details{
    width:676px;
    height: 156px;
}
.text-file input ,button{
    height: 30px;
    border-radius: 5px;
    width: 18%;
    margin: 5px;
}
.baton{
   background-color:#ff5400 ;
   padding: 5px;
   margin: 5px;
}
/* <!-- first section end////////////// --> */
.popular-tour{
    width: 90%;
    height: 500px;
    display: flex;
    margin: 10px auto;
}
.second-part{
    width: 50%;
 padding: 10px;
 margin-top: 100px;
}
.img-part{
    width: 50%;
  }
  .img-part img{
    height: 100%;
    width: 100%;
  }
  /* <!-- second section end/////////// --> */