@media screen and (min-width:600px) {
    .icon{
        display: none;
    }
      
}

@media screen and (max-width:600px) {
    .home-page{
        display: none;
    }
    .icon{
        padding: 20px;

    }
    .text-file , .bio{
        display: flex;
        flex-direction: column;
        align-items: center;
       
    }
    .text-file input ,button{
        width: 50%;
    }
    .popular-tour{
        display: flex;
        flex-direction: column;
       
     }
     .second-part{
        padding: 0;
        width: 100%;
        margin:o;
     }
     .img-part{
        width: 100%;
        height: 100%;
     }
     .img-container{
        height: 100%;
     }
     .item-1 , .item-3 , .item-6{
        display: flex;
        flex-direction: column;
     }
     .row{
       flex-direction: column;
        height: auto;
     }
     .card-container {
        display: flex;
        flex-direction: column;
        
     }
     .card {
        width: 100%;
       
     }
     .card-two{
        width: 90%;
        margin: 10px auto;
     }
     .form-pic{
        display: flex;
        flex-direction: column;
     }
     .form{
        width: 100%;
     }
     .footer{
      width: 100%;
      height: auto;
     }
     footer{
      height: auto;
         }
       .img-text{
         display: flex;
         flex-direction: column;
         padding: 0;

       } 
       .text{
         width: 100%;
       } 
       .one-img{
         width: 100%;
       }
       .card-ten{
         width: 100%;
         height: auto;
         padding: 0;
       }
      
       
}


